@media only screen and (max-width:576px) {

    .container {
        width: fit-content;
    }

    .top-banner {
        flex-direction: column;
    }

    .banner-article {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        text-align: center;
    }

    .banner-article h1 {
        font-size: 30px;
    }

    .banner-article p {
        margin-bottom: 30px;
    }


    .banner-img {
        width: 100%;
    }

    .banner-img img {
        padding: 0px;
        width: 90%;
    }

    .head-section {
        flex-direction: column;
        margin-left: 0;

    }

    aside {
        width: 440px;
        margin-left: 20px;
        margin-bottom: 50px;

    }

    .buttons {
        width: 100%;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
    }

    .card {
        width: 440px;
        height: 500px;

    }

    /* upcoming match */
    #upcoming-match {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
        padding-left: 10px;
    }

    .match-time {
        width: 400px;
        height: 250px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer hr {
        width: 50%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        padding-left: 25px;
    }

    .navbar ul li {
        margin-top: 20px;
    }

    .footer-icons {
        width: 50%;
        text-align: center;
        height: 50px;
    }
}