/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Roboto:ital,wght@0,100;1,400&display=swap');

/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/* Banner section style */

.container {
    width: 90%;
    height: auto;
    display: flex;
    margin: auto;

}

.top-banner {
    width: 100%;
    background-color: #161616;
    display: flex;
    margin-bottom: 120px;
    border-radius: 10px;
}

.banner-article {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.banner-img {
    width: 50%;

}

.banner-img img {
    width: 100%;
    padding-top: 50px;
}

.banner-article h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
}

.banner-article p {
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.banner-article button {
    width: 150px;
    height: 50px;
    background-color: #a79a21;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
}

.watch-btn:hover {
    animation-name: colorChange;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.watch-btn:hover {
    transform: rotate(360deg);
    transition: 1s linear;
}

@keyframes colorChange {
    0% {
        width: 150px;
        height: 50px;
        background-color: #DD0000;
        border-radius: 5px;
        border: none;
        color: #FFFFFF;
        font-weight: 700;
    }

    100% {
        width: 200px;
        height: 60px;
        background-color: #06060e;
        border-radius: 20px;
        font-weight: 700;
        font-size: 20px;
        box-shadow: 2px 2px 5px rgb(98, 29, 4);
    }
}

/* head section */

/* aside section */
aside {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.buttons a {
    text-decoration: none;
    color: #161616;
}

.btn {
    width: 80%;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    background-color: #FFFFFF;
    border: none;
    margin-top: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.line {
    display: none;
    width: 30px;
}

.btn:hover {
    background-color: #150707;
    color: #B9B9B9;
}

.btn:hover a {
    color: #FFFFFF;
}

aside:hover .line {
    display: block;
}

aside:hover {
    border: 2px solid rgb(122, 33, 0);
}

aside:hover .btn {
    border: 2px solid hsl(0, 80%, 22%);
}

/* card section style */
.head-section {
    width: 90%;
    margin: auto;
    margin-bottom: 130px;
    display: flex;

}

.cards {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;


}

.card {
    width: 290px;
    height: 350px;
    box-shadow: 1px 1px 3px rgb(116, 115, 115);
    border-radius: 8px;
}

.card-img img {
    width: 100%;
}

.card-detail {
    padding-left: 15px;
}

.card-detail button {
    width: 80px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    margin-bottom: 10px;
}

.card-detail h3 {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
    color: #161616;
}

.icons .watch-icon {
    margin-right: 30px;
}

/* tab btn */
#spacial-btn {
    display: none;
    text-align: center;
    margin-bottom: 50px;
}

.tab-btn {
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background-color: rgb(128, 49, 20);
    font-weight: 700;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

/*---------------- 
    Match time 
-----------------*/
#upcoming-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.match-time {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 1px 4px rgb(181, 81, 81);
    border-radius: 5px;
    background-color: rgb(242, 227, 227);
}

.country {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.vs {
    margin-right: 10px;
    margin-left: 10px;
}

/* footer section*/

footer {
    height: 300px;
    background-color: #161616;
}

footer h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}

footer {
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer hr {
    border: 1px solid #ca6767;
    width: 800px;
}

footer hr:hover {
    border: 3px solid #393bb6;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #B9B9B9;
}

.footer-icons {
    font-size: 40px;
    font-size: 40px;
    width: 50%;
    text-align: center;
    height: 50px;
}

.footer-icons a {
    text-decoration: none;
    color: #B9B9B9;
}