/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Roboto:ital,wght@0,100;1,400&display=swap');

/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/* Banner section style */

.container-wrap {
    width: 1200px;
    margin: auto;
}

.top-banner {
    width: 100%;
    height: 613px;
    background-image: url(assets/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #161616;
    border-radius: 10px;
    margin-bottom: 130px;
}

.banner-article {
    width: 50%;
    padding: 50px;
}

.banner-article h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
}

.banner-article p {
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.banner-article button {
    width: 150px;
    height: 50px;
    background: #DD0000;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
}

/* head section */

/* aside section */
aside {
    width: 300px;
    height: 300px;
    background-color: #161616;
    border-radius: 10px;
    margin-right: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.btn {
    width: 80%;
    height: 50px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    border: none;
    margin-top: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.line {
    display: none;
    width: 30px;
}

.btn:focus {
    background-color: #DD0000;
    color: #FFFFFF;
}

aside:hover .line {
    display: block;
}

aside:hover .btn {
    border: 2px solid hsl(0, 80%, 22%);
}

/* card section style */
.head-section {
    margin-bottom: 130px;
    display: flex;
}

.cards {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;

}

.card {
    width: 290px;
    height: 350px;
    box-shadow: 1px 1px 3px rgb(116, 115, 115);
    border-radius: 8px;
}

.card img {
    width: 100%;
}

.card-detail {
    padding-left: 15px;
}

.card-detail button {
    width: 80px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    margin-bottom: 10px;
}

.card-detail h3 {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
    color: #161616;
}

.icons .watch-icon {
    margin-right: 30px;
}

/* footer section*/

footer {
    height: 300px;
    background-color: #161616;

}

footer h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer hr {
    border: 1px solid #ca6767;
    width: 800px;
}

footer hr:hover {
    border: 3px solid #393bb6;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #B9B9B9;
}