@media only screen and (min-width: 577px) and (max-width: 768px) {
    body {
        background-color: aqua;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .top-banner {
        width: 100%;
        flex-direction: row;
        padding-top: 0;
    }

    .banner-article {
        width: 45%;
        padding: 0;
        margin-left: 30px;
        margin-top: 50px;
    }

    .banner-article h1 {
        font-size: 30px;
    }

    .banner-article p {
        margin-bottom: 55px;
        font-size: 14px;
    }

    .banner-article button {
        margin-bottom: 55px;
    }

    .banner-img {
        width: 45%;
        margin-left: 60px;
    }

    .banner-img img {
        width: 100%;
    }

    /* Header section */
    .head-section {
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 150px;
        margin-bottom: 50px;
    }

    .buttons {
        width: 90%;
        flex-direction: row;
        margin: auto
    }

    .btn {
        border-radius: 5px;
    }

    .btn:hover {
        background-color: #1b1414;
    }

    aside:hover .btn {
        border: 2px solid hsl(135, 11%, 93%);
    }

    .line {
        display: none;
    }

    aside:hover .line {
        display: none;
    }

    .cards {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .card {
        width: 90%;
    }

    #spacial-btn {
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }

    /* Upcoming Match */
    #upcoming-match {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0;
    }

    .match-time {
        width: 95%;
        /* align-items: center; */
    }

    .country {
        width: 90%;
    }

    /* footer section */
    footer hr {
        border: 1px solid #ca6767;
        width: 80%;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        row-gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}